*{
    margin: 0;
    padding: 0;
}
textarea{
    resize: none;
}
p{
    margin: 0;
    overflow: hidden;
}
p span:first-child{
    margin-right: 6px; 
}
i{
    float: right;
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}
p input[type="text"],p textarea{
    margin-bottom: 0;
}
p i{
    margin: 14px 0 10px;
}
#time_notice{
    width: 320px;
    margin: 150px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}
#time_notice>div{
    min-height: 60px;
    overflow: hidden;
}
#time_notice>div:nth-child(2){
    min-height: 80px;
}
.btn-group{
    float: right;
    width: 125px;
}
.btn-group .btn{
    border-radius: 4px;
}
.btn-group .btn-default{
    margin-right: 15px;
}

.none{
    display: none;
}